body {
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  margin: 0;
}

#contenedor {
  width: 100%;
  height: 1200px;
  /* margin: 1em; */
}

#header {
  height: 4%;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#nav {
  background-color: #ffffff;
}

#contenido {
  display: flex;
  width: 99%;
  margin: 0px 30px 5px 5px;
  height: 70%;
}

#footer {
  height: 20%;
  background: #000000;
}

#form-section {
  height: 100%;
  width: 50%;
  float: right;
  background: #ffffff;
  padding-left: 5em;
}

#form-section2 {
  height: 100%;
  width: 50%;
  float: left;
  padding-left: 10em;
}

.span-fac {
  display: block;
  font-size: 12px;
}

.form-pedido {
  display: flex;
}

.titulo-datosPedido {
  margin-left: 10px;
  margin-top: 30px;
}

.bubble {
  color: #ffffff;
  background-color: #000000;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.point {
  font-size: 40px;
}

.list {
  padding: 1em 2em;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.navMenu {
  display: flex;
}

.navMenu {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
}

.descriptionPayment {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.descriptionText {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.text-creditCard {
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.form {
  margin-left: 40px;
}

.form-text {
  width: 364px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-pago {
  margin-right: 3em;
}

.form-textExp {
  display: block;
}

.input-double {
  width: 130px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.group-form {
  display: flex;
}

.resumen-pedido {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
}

.span-entrega {
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.span-total {
  width: 101px;
  height: 28px;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.btn-pagar {
  background-color: #0f7173;
  color: #ffffff;
  font-size: 24px;
  width: 220px;
  height: 42px;
  background: #0f7173;
  border-radius: 20px;
  margin-left: 70px;
}

.condiciones {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  align-items: center;
  letter-spacing: 0.05em;
}

.datosPedido {
  font-weight: 700;
}

.camisaMagari {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ffffff 0deg,
    rgba(255, 255, 255, 0) 360deg
  );
  border: 1px solid #000000;
  justify-content: space-around;
  display: flex;
  margin: 10px 10px;
}

.descripcion-pedido {
  margin-left: 10px;
  margin-top: 20px;
}

.direccion-entrega {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
}

.datos-fact {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
}

.opcion-envio {
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
}
.forma-de-pago {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.target {
  margin-left: 15px;
  width: 44px;
}

select:required {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}
